@import "tailwindcss";

:root {
  --primary-blue: hsl(213, 96%, 18%);
  --primary-purple: hsl(243, 100%, 62%);
  --primary-blue-light: hsl(228, 100%, 84%);
  --primary-blue-lighter: hsl(206, 94%, 87%);
  --primary-red: hsl(354, 84%, 57%);

  --neutral-grey: hsl(231, 11%, 63%);
  --neutral-purple-light: hsl(229, 24%, 87%);
  --neutral-blue-light: hsl(218, 100%, 97%);
  --neutral-blue-lighter: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 100%, 100%);
}

@theme inline {
--primary-blue: hsl(213, 96%, 18%);
  --primary-purple: hsl(243, 100%, 62%);
  --primary-blue-light: hsl(228, 100%, 84%);
  --primary-blue-lighter: hsl(206, 94%, 87%);
  --primary-red: hsl(354, 84%, 57%);

  --neutral-grey: hsl(231, 11%, 63%);
  --neutral-purple-light: hsl(229, 24%, 87%);
  --neutral-blue-light: hsl(218, 100%, 97%);
  --neutral-blue-lighter: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 100%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
